[submodule "themes/atelier"]
	path = themes/atelier
	url = git@github.com:atelierbram/base16-atelier-schemes.git
[submodule "themes/atlas"]
	path = themes/atlas
	url = git@github.com:ajlende/base16-atlas-scheme.git
[submodule "themes/black-metal"]
	path = themes/black-metal
	url = git@github.com:metalelf0/base16-black-metal-scheme.git
[submodule "themes/brogrammer"]
	path = themes/brogrammer
	url = git@github.com:piggyslasher/base16-brogrammer-scheme.git
[submodule "themes/brushtrees"]
	path = themes/brushtrees
	url = git@github.com:WhiteAbeLincoln/base16-brushtrees-scheme.git
[submodule "themes/circus"]
	path = themes/circus
	url = git@github.com:stepchowfun/base16-circus-scheme.git
[submodule "themes/classic"]
	path = themes/classic
	url = git@github.com:detly/base16-classic-scheme.git
[submodule "themes/codeschool"]
	path = themes/codeschool
	url = git@github.com:blockloop/base16-codeschool-scheme.git
[submodule "themes/cupertino"]
	path = themes/cupertino
	url = git@github.com:Defman21/base16-cupertino.git
[submodule "themes/default"]
	path = themes/default
	url = git@github.com:chriskempson/base16-default-schemes.git
[submodule "themes/dracula"]
	path = themes/dracula
	url = git@github.com:dracula/base16-dracula-scheme.git
[submodule "themes/fruit-soda"]
	path = themes/fruit-soda
	url = git@github.com:jozip/base16-fruit-soda-scheme.git
[submodule "themes/github"]
	path = themes/github
	url = git@github.com:Defman21/base16-github-scheme.git
[submodule "themes/gruvbox"]
	path = themes/gruvbox
	url = git@github.com:dawikur/base16-gruvbox-scheme.git
[submodule "themes/heetch"]
	path = themes/heetch
	url = git@github.com:tealeg/base16-heetch-scheme.git
[submodule "themes/icy"]
	path = themes/icy
	url = git@github.com:icyphox/base16-icy-scheme.git
[submodule "themes/materia"]
	path = themes/materia
	url = git@github.com:Defman21/base16-materia.git
[submodule "themes/materialtheme"]
	path = themes/materialtheme
	url = git@github.com:ntpeters/base16-materialtheme-scheme.git
[submodule "themes/material-vivid"]
	path = themes/material-vivid
	url = git@github.com:joshyrobot/base16-material-vivid-scheme.git
[submodule "themes/mellow"]
	path = themes/mellow
	url = git@github.com:gidsi/base16-mellow-scheme.git
[submodule "themes/mexico-light"]
	path = themes/mexico-light
	url = git@github.com:drzel/base16-mexico-light-scheme.git
[submodule "themes/nord"]
	path = themes/nord
	url = git@github.com:8-uh/base16-nord-scheme.git
[submodule "themes/one-light"]
	path = themes/one-light
	url = git@github.com:purpleKarrot/base16-one-light-scheme.git
[submodule "themes/onedark"]
	path = themes/onedark
	url = git@github.com:tilal6991/base16-onedark-scheme.git
[submodule "themes/outrun"]
	path = themes/outrun
	url = git@github.com:hugodelahousse/base16-outrun-schemes.git
[submodule "themes/papercolor"]
	path = themes/papercolor
	url = git@github.com:jonleopard/base16-papercolor-scheme.git
[submodule "themes/porple"]
	path = themes/porple
	url = git@github.com:AuditeMarlow/base16-porple-scheme.git
[submodule "themes/purpledream"]
	path = themes/purpledream
	url = git@github.com:archmalet/base16-purpledream-scheme.git
[submodule "themes/rebecca"]
	path = themes/rebecca
	url = git@github.com:vic/base16-rebecca.git
[submodule "themes/snazzy"]
	path = themes/snazzy
	url = git@github.com:h404bi/base16-snazzy-scheme.git
[submodule "themes/solarflare"]
	path = themes/solarflare
	url = git@github.com:mnussbaum/base16-solarflare-scheme.git
[submodule "themes/summerfruit"]
	path = themes/summerfruit
	url = git@github.com:cscorley/base16-summerfruit-scheme.git
[submodule "themes/tokyonight"]
	path = themes/tokyonight
	url = git@github.com:viniciusmuller/base16-tokyonight-scheme.git
[submodule "themes/twilight"]
	path = themes/twilight
	url = git@github.com:hartbit/base16-twilight-scheme.git
[submodule "themes/unikitty"]
	path = themes/unikitty
	url = git@github.com:joshwlewis/base16-unikitty.git
[submodule "themes/woodland"]
	path = themes/woodland
	url = git@github.com:jcornwall/base16-woodland-scheme.git
[submodule "themes/zenburn"]
	path = themes/zenburn
	url = git@github.com:elnawe/base16-zenburn-scheme.git
[submodule "themes/xcode-dusk"]
	path = themes/xcode-dusk
	url = git@github.com:gonsie/base16-xcode-dusk-scheme.git
